<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Regístrate</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-circle-08"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Name"
                  type="text"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-circle-08"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Surname"
                  type="text"
                  formControlName="surname"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Correo"
                  type="email"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Contraseña"
                  type="password"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-calendar-grid-58"></i
                  ></span>
                </div>
                <input
                  class="form-control datepicker"
                  placeholder="Select date"
                  type="text" formControlName="birthday" ngbDatepicker [minDate]="{year: 1950, month: 1, day: 1}"
                  #d="ngbDatepicker"
                  (click)="d.toggle()"
                />
              </div>
            </div>
            <form [formGroup]="radioGroupForm">
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="gender">
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="Male"> Male
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="Female"> Female
                </label>
              </div>
            </form>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">
                Crear cuenta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
