<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>

<!-- Card stats -->
<div class="container-fluid mt--8">
<div class="row">
  <div class="col-xl-3 col-lg-6 pb-5" *ngFor="let item of places$ | async">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <img
              class="card-img-top"
              src="{{ item.imagenLugar }}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ item.nombreLugar }}</h5>
              <p class="card-text">{{ item.tipoLugar }}</p>
              <button class="btn btn-primary" type="button" (click)="saberMas(item.nombreLugar)">
                Saber más
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
